#tronque{
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
#tronque:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
#tronque:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  #adroit{
      margin-left:123px;
      text-align:right ;
  }
  #metreMarg{
    margin-bottom: 20px;
    margin-top: 20px
  }